<head>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link rel = "stylesheet" href = "style.css?v=9" type="text/css">
</head>
<body>
 <div id="app">
   <div class="capital">
    <div class="helper">
     <a href="#" title="ответы на вопросы" v-on:click.prevent="answerToAsk">Ответы на вопросы</a>
     <ul v-if="help > 0">
       <li> Здравствуйте! Рады приветствовать Вас на странице нашего органайзера; здесь находится несколько подсказок на тот случай, если у Вас остались вопросы.</li>
       <li> Для <span>создания</span> заметки щёлкните левой кнопкой мыши на нужную дату нужного месяца => добавить задачу => щёлкните в любой области снова, чтобы убрать фокус с поля и задача добавится.</li>
       <li> Если Вы хотите <span>пометить</span> задачу выполненной/неактуальной, но не хотите удалять - щёлкните левой кнопкой мыши по квадратику справа от задачи; она поменят цвет и станет перечёркнутой, а также неактивной для любых дальнейших действий.</li>
       <li> Для <span>редактирования</span> задачи дважды щёлкните левой кнопкой мыши по нужной задаче, измените текст,  щёлкните в любой области снова, чтобы убрать фокус с поля и задача изменится. Если Вы ранее <span>пометили</span> задачу, она будет недоступна для редактирования.</li>
       <li> Для <span>удаления</span> задачи нажмите удалить справа от задачи.</li>
       <li> Для <span>переключения</span> между месяцами используйте стрелки справа и слева от названия месяца и номера года.</li>
     </ul>
    </div>
    <div class="first">
     <div>
      <a href="#" title="предыдущий месяц" class="leftArrow" v-on:click.prevent="lastMonth"><=</a><p class="dates">{{ thatMonth }} {{ nowCorrectYear }}</p><a href="#" title="следующий месяц" class="rightArrow" v-on:click.prevent="nextMonth">=></a>
     </div>
     <div class="items main">
       <div v-for="elem in doubleDaysOfWeek" class="item main mainItem headerOfCalendar">{{ elem }}</div>
       <template v-if="firstDay == 0">
         <div v-for="i in 6" class="item main mainItem past">{{ returnDate + i }}</div>
       </template>
       <template v-if="firstDay > 1">
         <div v-for="i in firstDay - 1" class="item main mainItem past">{{ returnDate + i }}</div>
       </template>
       <template v-for="i in considerLastDay">
         <div v-if="i == activeDay && numMonth == 0" class="item main active" v-on:click="show(i)">{{ i }}</div>
         <div v-else-if="i != activeDay || numMonth != 0" class="item main mainItem colorOfCalendar" v-on:click="show(i)">{{ i }}</div>
       </template>
       <div v-if="dayOfFuture == 0" class="item main mainItem past">1</div>
       <template v-if="dayOfFuture > 0">
         <div class="item main mainItem past">1</div>
         <div v-for="i in dayOfFuture" class="item main mainItem past">{{ i + 1 }}</div>
       </template>
     </div>
     <div class="table dynamic">
     </div>
    </div>
  </div>
 </div>
<script>
  let app = new Vue({
  	el: '#app',
    data: {
    notes: '',
    numMonth: 0,
    number: '',
    oldText: '',
    help: 0,
    daysOfWeek: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
    doubleDaysOfWeek: ['пн', 'вт', 'ср', 'чт', 'пт', 'суб', 'вс']
},
   methods: {
     lastMonth: function(){
      this.numMonth--;
      this.close();
     },

     nextMonth: function(){
      this.numMonth++;
      this.close();
    },

    show: function(index){
     this.number = index;

     let table = document.querySelector('.table');
     table.innerHTML = '';

     table.classList.remove('dynamic');
     table.classList.add('tableBorder');

     let date22 = new Date(this.nowCorrectYear, this.nowCorrectMonth, index);
     let dayNow = date22.getDay();
     let div0 = document.createElement('div');
     div0.classList.add('lower');
     div0.classList.add('caseOfTitle');
     div0.innerHTML = this.daysOfWeek[dayNow] + ', ' + index + ', ' + this.thatMonth + ' ' + this.nowCorrectYear;
     table.appendChild(div0);

     let str = localStorage.getItem('notes');
     if(str){
       this.notes = JSON.parse(str);
     for(let point in this.notes){
       let newPoint = point.split('-');
     if(newPoint[0] == this.nowCorrectYear && newPoint[1] == this.nowCorrectMonth && newPoint[2] == index){
       for(let elem in this.notes[point]){

         let div111 = document.createElement('div');
         div111.classList.add('mainDiv');
         div111.classList.add('topCase');
         let div1 = document.createElement('div');
         div1.classList.add('big');
         div1.classList.add('nextCases');
         div1.innerHTML = this.notes[point][elem];
         div1.addEventListener('dblclick', this.change);
         div111.appendChild(div1);

         let hasStyle = div1.firstElementChild;

         let div2 = document.createElement('div');
         div2.classList.add('lower');
         div2.classList.add('nextCases');
         div2.classList.add('leftCase');
         let input = document.createElement('input');
         input.type = 'checkbox';
         input.addEventListener('click', this.getOut);
         if(hasStyle){
           if(hasStyle.hasAttribute('style')){
             input.setAttribute('disabled', 1);
             input.setAttribute('checked', 1);
             div1.setAttribute('style', 1);
           }
         };
         div2.appendChild(input);
         div111.appendChild(div2);

         let div3 = document.createElement('div');
         div3.classList.add('lower');
         div3.classList.add('nextCases');
         div3.classList.add('leftCase');

         let a = document.createElement('a');
         a.href = elem;
         a.addEventListener('click', this.del);
         a.innerHTML = 'Удалить';
         div3.appendChild(a);
         div111.appendChild(div3);
         table.appendChild(div111);
       }
     }
   };
 }
       let div4 = document.createElement('div');
       let a2 = document.createElement('a');

       a2.href = '#';
       a2.addEventListener('click', this.addNote);
       a2.innerHTML = 'Добавить задачу';
       div4.classList.add('lower');
       div4.classList.add('nextCases');
       div4.classList.add('topCase');
       div4.appendChild(a2);
       table.appendChild(div4);

       let div5 = document.createElement('div5');
       let a3 = document.createElement('a');

       a3.href = '#';
       a3.addEventListener('click', this.close);
       a3.innerHTML = 'Закрыть список';
       div5.classList.add('lower');
       div5.classList.add('nextCases');
       div5.classList.add('topCase');
       div5.appendChild(a3);
       table.appendChild(div5);
   },

   close: function(){
     event.preventDefault();
     let close = document.querySelector('.table');
     close.classList.add('dynamic');
     close.classList.remove('tableBorder');

     close.innerHTML = '';
   },

   del: function(){
     event.preventDefault();
     let target = event.target;
     let str = localStorage.getItem('notes');
     let legacy2 = target.parentElement.parentElement.children;

     this.notes = JSON.parse(str);
     for(let point in this.notes){
       let newPoint = point.split('-');

     if(newPoint[0] == this.nowCorrectYear && newPoint[1] == this.nowCorrectMonth && newPoint[2] == this.number){
       for(let i = 0; i < this.notes[point].length; i++){
         if(legacy2[0].innerHTML == this.notes[point][i]){
         this.notes[point].splice(i, 1);
   }
   }
 }
};
localStorage.setItem('notes', JSON.stringify(this.notes));
this.show(this.number);
},

getOut: function(){
  let target = event.target;
  let legacy = target.parentElement.parentElement.children;
  let str = localStorage.getItem('notes');

  this.notes = JSON.parse(str);
  for(let point in this.notes){
    let newPoint = point.split('-');
  if(newPoint[0] == this.nowCorrectYear && newPoint[1] == this.nowCorrectMonth && newPoint[2] == this.number){
    for(let i = 0; i < this.notes[point].length; i++){
      if(this.notes[point][i] == legacy[0].innerHTML){
        this.notes[point][i] = '<span style="color: rgb(220, 220, 220); text-decoration: line-through;">' + this.notes[point][i] + "</span>";
      }
    }
  }
};
 localStorage.setItem('notes', JSON.stringify(this.notes));
 this.show(this.number);
},

change: function(event){
 let td =  event.target;

 if(!td.hasAttribute('style')){
 let inp = document.createElement('textarea');
 inp.value = td.innerHTML;
 this.oldText = td.innerHTML;
 td.innerHTML = '';
 td.appendChild(inp);
 inp.addEventListener('blur', this.changeValue);
}
},

changeValue: function(event){
 let target = event.target;
 let str = localStorage.getItem('notes');

 this.notes = JSON.parse(str);
 for(let point in this.notes){
   let newPoint = point.split('-');

 if(newPoint[0] == this.nowCorrectYear && newPoint[1] == this.nowCorrectMonth && newPoint[2] == this.number){
     for(let i = 0; i < this.notes[point].length; i++){
       if(this.oldText == this.notes[point][i]){
         target.parentElement.innerHTML = target.value;
         this.notes[point][i] = target.value;
       }
     }
   }
 }
 localStorage.setItem('notes', JSON.stringify(this.notes));
},

addNote: function(){
 event.preventDefault();

 let target = event.target;
 target.innerHTML = '';
 let inp = document.createElement('textarea');
 target.parentElement.appendChild(inp);
 inp.classList.add('deleteTextarea');
 inp.addEventListener('blur', this.newNote);
},
newNote: function(){
  let text = document.querySelector('.deleteTextarea');

   let month;
   if(String(this.nowCorrectMonth).length == 1){
     month = '0' + this.nowCorrectMonth;
   } else {
     month = this.nowCorrectMonth;
   };
   let day;
   if(String(this.number).length == 1){
     day = '0' + this.number;
   } else {
     day = this.number;
   };
   let newDate = this.nowCorrectYear + '-' + month + '-' + day;

   let str = localStorage.getItem('notes');
   this.notes = JSON.parse(str);

   if(this.notes == null){
     this.notes = { };
     this.notes[newDate] = [ ];
     this.notes[newDate].push(text.value);
   } else {
   if(this.notes[newDate] !== undefined){
     this.notes[newDate].push(text.value);
   } else {
     this.notes[newDate] = [ ];
     this.notes[newDate].push(text.value);
   }
 }

  text.parentElement.removeChild(text);
  localStorage.setItem('notes', JSON.stringify(this.notes));
  this.show(this.number);
},

answerToAsk: function(){
  let a = document.querySelector('.helper a');

  if(a.innerHTML == 'Ответы на вопросы'){
  a.innerHTML = 'Скрыть';
  this.help++;
} else {
    a.innerHTML = 'Ответы на вопросы';
    this.help--;
  };
}
},

   filters: {

   },

   computed: {
     activeDay: function(){
       let date1 = new Date();

       date = new Date(date1.getFullYear(), (date1.getMonth() + this.numMonth), date1.getDate());
       return today = date.getDate();
     },

     considerLastDay: function(){
       let date1 = new Date();

       date = new Date(date1.getFullYear(), ((date1.getMonth() + this.numMonth) + 1), 0);
       return lastDay2 = date.getDate();
     },

     nowCorrectMonth: function(){
       let date1 = new Date();

       date = new Date(date1.getFullYear(), (date1.getMonth() + this.numMonth));
       return correctMonth = date.getMonth();
     },

     thatMonth: function(){
       let months = ['январь', 'февраль', 'март', 'апрель', 'май', 'июнь', 'июль', 'август', 'сентябрь', 'октябрь', 'ноябрь', 'декабрь'];
       return months[this.nowCorrectMonth];
     },

     nowCorrectYear: function(){
       let date1 = new Date();

       date = new Date(date1.getFullYear(), (date1.getMonth() + this.numMonth));
       return correctYear = date.getFullYear();
     },
     firstDay: function(){
       let date1 = new Date();

       date = new Date(date1.getFullYear(), (date1.getMonth() + this.numMonth), 1);
       return today = date.getDay();
     },
     returnDate: function(){
       let date1 = new Date();

       date = new Date(date1.getFullYear(), (date1.getMonth() + this.numMonth), 0);

       if(this.firstDay == 0){
         let day = date.getDate();
         return day - 6;
       };
       if(this.firstDay > 1){
         let day = date.getDate();
         return day - (this.firstDay - 1);
       };
     },
     dayOfFuture: function(){
       let date1 = new Date();

       date = new Date(date1.getFullYear(), (date1.getMonth() + this.numMonth) + 1);
       let today = date.getDay();

       if(today == 0){
         return today;
       };
       if(today > 1){
         return 7 - today;
       };
     }
   }
  });
</script>
</body>
