* {
  font-family: Comic Sans Ms;
  color: SaddleBrown;
}
.capital {
  display: flex;
  margin: 0px auto;
  width: 80%;
}
.helper {
  text-align: center;
  width: 89%;
  margin: 3% 0 3% 0;
  border: 1px solid black;
  border-radius: 20px;
}
.headerOfCalendar {
  background: MistyRose;
}
.colorOfCalendar {
  background: PapayaWhip;
}
.caseOfTitle {
  background: Wheat;
}
.nextCases {
  background: LightGoldenRodYellow;
}
.past {
  background: rgb(220, 220, 220);
  color: white;
}
.helper ul {
  text-align: left;
  margin: 5px;
}
.helper span {
  font-weight: bold;
}
.first, .capital {
  flex-direction: column;
}
.first, .items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.main {
  text-align: center;
  padding: 0.5% 0 0.5% 0;
}
.dates {
  display: inline;
  margin-left: 40%;
}
.item {
  width: calc(100% / 8);
}
.dynamic {
  display: none;
}
.tableBorder {
  display: flex;
  flex-direction: column;
}
.table {
  width: 89%;
  min-height: 100px;
}
.topCase {
  margin-top: 5px;
}
.leftCase {
  margin-left: 5px;
  width: 11%;
}
.mainItem {
  border: 1px solid black;
}
.mainDiv {
  display: flex;
  flex-direction: row;
}
.big {
    width: 78%;
    overflow: auto;
    white-space: pre-line;
    text-overflow: clip;
    padding: 5px;
}
.lower {
  text-align: center;
  padding: 5px;
}
textarea {
	resize: none;
	width: 100%;
	min-height: 100px;
}
.leftArrow {
  float: left;
  font-family: Arial;
}
.rightArrow {
  float: right;
  margin-right: 11%;
  font-family: Arial;
}
a {
  text-decoration: none;
  color: MediumSlateBlue;
}
a:hover {
  color: OliveDrab;
}
.active {
  color: red;
  border: 1px solid red;
  outline: 2px solid red;
}
